
{% extends 'base.html.twig' %}

{% block title %}Add New Author{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h1>Add New Author</h1>
                        {{ form_start(form) }}
                        {% include './forms/form-group.html.twig' with {'value': form.name, 'title': 'Name'} %}
                        {% include './forms/form-group.html.twig' with {'value': form.surName, 'title': 'Surname'} %}
                        {% include './forms/form-group.html.twig' with {'value': form.yearOfBirth, 'title': 'Year of Birth'} %}
                        {% include './forms/form-group.html.twig' with {'value': form.email, 'title': 'Email'} %}
                        {% include './forms/form-group.html.twig' with {'value': form.country, 'title': 'Country'} %}
                        {{ form_widget(form._token) }} {# Render CSRF token field #}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
