
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/.gitignore
.idea/modules.xml
.idea/php.xml
.idea/prototype.iml
composer.lock
symfony.lock
.idea/vcs.xml
.idea/codeception.xml
.idea/phpspec.xml
.idea/phpunit.xml
.idea/intelen.iml
migrations/Version20240329112931.php
.idea/symfony2.xml
